*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans 14pt', sans-serif;
}
body{
    background:#db53f7;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 50vh;
}
button{
    padding: 20px;
    width: 80%;
    margin-bottom: 15px;
    background: #f1a1f1;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 28px;
}
a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

h1{
    margin: 20px;
    color: #fff;
    font-size: 45px;
    width: 55%;
    text-align: center;
}